@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light mode values */
  --background: #f2f0ed;

  /* Usage - Backgrounds */
  /* Pairs with - Steps 11, 12 text */
  --primary-1: #ecedea;
  --primary-2: #e6eae3;

  /* Usage - Interactive components */
  /* Pairs with - Steps 11 labels, Step 12 text */
  --primary-3: #dae1d5;
  --primary-4: #cfd9c7;

  /* Pairs with - Step 12 labels */
  --primary-5: #c5d1bb;

  /* Usage - Borders and separators */
  /* Pairs with - Steps 1-5 backgrounds */
  --primary-6: #b9c8ae;
  --primary-7: #abbc9e;

  /* Usage - Borders, focus rings */
  /* Pairs with - Steps 1-5 backgrounds */
  --primary-8: #94a984;

  /* Usage - Solid backgrounds, buttons */
  /* Pairs with - White text */
  --primary-9: #4a5d3a;
  --primary-10: #3c4e2c;

  /* Usage - Secondary text, links */
  /* Pairs with - Background colors */
  --primary-11: #455835;

  /* Usage - High-contrast text */
  /* Pairs with - Background colors */
  --primary-12: #1e2914;

  --primary-a1: #18838007;
  --primary-a2: #077b290d;
  --primary-a3: #075d021a;
  --primary-a4: #19610129;
  --primary-a5: #1e5e0136;
  --primary-a6: #1d5a0144;
  --primary-a7: #1d540055;
  --primary-a8: #1e500171;
  --primary-a9: #142e00c1;
  --primary-a10: #132a00d0;
  --primary-a11: #132c00c6;
  --primary-a12: #0b1700ea;

  --primary-contrast: #fff;
  --primary-surface: #e4e9e1cc;
  --primary-indicator: #4a5d3a;
  --primary-track: #4a5d3a;

  /* Gray scale */
  --gray-1: #ececec;
  --gray-2: #e8e8e8;
  --gray-3: #ddd;
  --gray-4: #d4d4d4;
  --gray-5: #ccc;
  --gray-6: #c3c3c3;
  --gray-7: #b8b8b8;
  --gray-8: #a5a5a5;
  --gray-9: #787878;
  --gray-10: #6d6d6d;
  --gray-11: #515151;
  --gray-12: #202020;

  --gray-a1: #185fc907;
  --gray-a2: #0b377a0b;
  --gray-a3: #0a1e3c17;
  --gray-a4: #03112620;
  --gray-a5: #06112029;
  --gray-a6: #020b1632;
  --gray-a7: #040a143e;
  --gray-a8: #03070d52;
  --gray-a9: #00020681;
  --gray-a10: #0204068d;
  --gray-a11: #000203aa;
  --gray-a12: #010101de;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #787878;
  --gray-track: #787878;
}

.dark {
  --background: #191716;

  --primary-1: #161815;
  --primary-2: #1b1e1a;
  --primary-3: #242921;
  --primary-4: #2a3127;
  --primary-5: #313a2c;
  --primary-6: #394434;
  --primary-7: #45533f;
  --primary-8: #596951;
  --primary-9: #6b8a5b;
  --primary-10: #5f7d4f;
  --primary-11: #acc89d;
  --primary-12: #e4f3dd;

  --primary-a1: #00970002;
  --primary-a2: #59f79608;
  --primary-a3: #a6fda314;
  --primary-a4: #affcac1d;
  --primary-a5: #b6fca627;
  --primary-a6: #bdfdaf32;
  --primary-a7: #c3ffb542;
  --primary-a8: #cdfdbc5b;
  --primary-a9: #bdfda17f;
  --primary-a10: #b7fd9771;
  --primary-a11: #d9ffc7c3;
  --primary-a12: #efffe8f2;

  --primary-contrast: #fff;
  --primary-surface: #1d251e80;
  --primary-indicator: #6b8a5b;
  --primary-track: #6b8a5b;

  --gray-1: #171717;
  --gray-2: #1e1e1e;
  --gray-3: #272727;
  --gray-4: #2d2d2d;
  --gray-5: #333;
  --gray-6: #3b3b3b;
  --gray-7: #494949;
  --gray-8: #616161;
  --gray-9: #6e6e6e;
  --gray-10: #7c7c7c;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  --gray-a1: #00179602;
  --gray-a2: #a7def909;
  --gray-a3: #d5eefb13;
  --gray-a4: #deeff81a;
  --gray-a5: #e9f7fe20;
  --gray-a6: #edf7fd29;
  --gray-a7: #f3fbff38;
  --gray-a8: #f7fafd53;
  --gray-a9: #f9fcfd61;
  --gray-a10: #fbfdff70;
  --gray-a11: #feffffad;
  --gray-a12: #fefefeed;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6e6e6e;
  --gray-track: #6e6e6e;
}

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);

  --color-background: var(--background);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);
  --color-primary-7: var(--primary-7);
  --color-primary-8: var(--primary-8);
  --color-primary-9: var(--primary-9);
  --color-primary-10: var(--primary-10);
  --color-primary-11: var(--primary-11);
  --color-primary-12: var(--primary-12);

  --color-primary-a1: var(--primary-a1);
  --color-primary-a2: var(--primary-a2);
  --color-primary-a3: var(--primary-a3);
  --color-primary-a4: var(--primary-a4);
  --color-primary-a5: var(--primary-a5);
  --color-primary-a6: var(--primary-a6);
  --color-primary-a7: var(--primary-a7);
  --color-primary-a8: var(--primary-a8);
  --color-primary-a9: var(--primary-a9);
  --color-primary-a10: var(--primary-a10);
  --color-primary-a11: var(--primary-a11);
  --color-primary-a12: var(--primary-a12);

  --color-primary-contrast: var(--primary-contrast);
  --color-primary-surface: var(--primary-surface);
  --color-primary-indicator: var(--primary-indicator);
  --color-primary-track: var(--primary-track);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);

  --color-gray-contrast: var(--gray-contrast);
  --color-gray-surface: var(--gray-surface);
  --color-gray-indicator: var(--gray-indicator);
  --color-gray-track: var(--gray-track);

  --saturate-solid-active: 1.1;
  --brightness-solid-active: 0.92;
}

/* P3 Color Gamut Support */
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --primary-1: oklch(94.5% 0.0048 131.6);
      --primary-2: oklch(93.1% 0.0099 131.6);
      --primary-3: oklch(90.2% 0.0185 131.6);
      --primary-4: oklch(87.3% 0.0266 131.6);
      --primary-5: oklch(84.5% 0.0329 131.6);
      --primary-6: oklch(81.4% 0.0395 131.6);
      --primary-7: oklch(77.3% 0.0453 131.6);
      --primary-8: oklch(70.8% 0.0573 131.6);
      --primary-9: oklch(45.3% 0.0591 131.6);
      --primary-10: oklch(39.8% 0.0591 131.6);
      --primary-11: oklch(43.3% 0.0591 131.6);
      --primary-12: oklch(26.2% 0.0391 131.6);

      --primary-a1: color(display-p3 0.0118 0.4706 0.4627 / 0.025);
      --primary-a2: color(display-p3 0.0118 0.4314 0.1647 / 0.046);
      --primary-a3: color(display-p3 0.0314 0.3412 0.0118 / 0.098);
      --primary-a4: color(display-p3 0.098 0.3451 0.0039 / 0.152);
      --primary-a5: color(display-p3 0.1216 0.3451 0.0039 / 0.203);
      --primary-a6: color(display-p3 0.1255 0.3333 0.0039 / 0.258);
      --primary-a7: color(display-p3 0.1216 0.2941 0.0039 / 0.321);
      --primary-a8: color(display-p3 0.1294 0.2863 0.0039 / 0.431);
      --primary-a9: color(display-p3 0.0784 0.1529 0 / 0.739);
      --primary-a10: color(display-p3 0.0745 0.1412 0 / 0.798);
      --primary-a11: color(display-p3 0.0784 0.149 0 / 0.76);
      --primary-a12: color(display-p3 0.0431 0.0824 0 / 0.908);

      --primary-surface: color(display-p3 0.8941 0.9059 0.8824 / 0.8);
      --primary-indicator: oklch(45.3% 0.0591 131.6);
      --primary-track: oklch(45.3% 0.0591 131.6);

      --gray-1: oklch(94.3% 0 none);
      --gray-2: oklch(93% 0 none);
      --gray-3: oklch(89.9% 0 none);
      --gray-4: oklch(87.1% 0 none);
      --gray-5: oklch(84.6% 0 none);
      --gray-6: oklch(81.9% 0 none);
      --gray-7: oklch(78.3% 0 none);
      --gray-8: oklch(72% 0 none);
      --gray-9: oklch(57.1% 0 none);
      --gray-10: oklch(53.6% 0 none);
      --gray-11: oklch(43.4% 0 none);
      --gray-12: oklch(24.3% 0 none);

      --gray-a1: color(display-p3 0.0118 0.3137 0.7765 / 0.025);
      --gray-a2: color(display-p3 0.0157 0.1961 0.4627 / 0.042);
      --gray-a3: color(display-p3 0.0039 0.0863 0.2118 / 0.087);
      --gray-a4: color(display-p3 0.0039 0.0588 0.1412 / 0.124);
      --gray-a5: color(display-p3 0.0078 0.051 0.1098 / 0.158);
      --gray-a6: color(display-p3 0.0039 0.0392 0.0863 / 0.195);
      --gray-a7: color(display-p3 0.0039 0.0275 0.0667 / 0.24);
      --gray-a8: color(display-p3 0.0039 0.0196 0.0471 / 0.319);
      --gray-a9: color(display-p3 0 0.0078 0.0235 / 0.505);
      --gray-a10: color(display-p3 0 0.0078 0.0157 / 0.55);
      --gray-a11: color(display-p3 0 0.0078 0.0118 / 0.666);
      --gray-a12: color(display-p3 0 0 0.0039 / 0.868);

      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(57.1% 0 none);
      --gray-track: oklch(57.1% 0 none);
    }

    .dark {
      --primary-1: oklch(20.7% 0.008 135.3);
      --primary-2: oklch(23.2% 0.0095 135.3);
      --primary-3: oklch(27.2% 0.0161 135.3);
      --primary-4: oklch(30.4% 0.0211 135.3);
      --primary-5: oklch(33.5% 0.0258 135.3);
      --primary-6: oklch(37.2% 0.0306 135.3);
      --primary-7: oklch(42.3% 0.0362 135.3);
      --primary-8: oklch(50.1% 0.0434 135.3);
      --primary-9: oklch(59.7% 0.0773 135.3);
      --primary-10: oklch(55.4% 0.0773 135.3);
      --primary-11: oklch(80.1% 0.0668 135.3);
      --primary-12: oklch(94.7% 0.0322 135.3);

      --primary-a1: color(display-p3 0 0.8745 0 / 0.005);
      --primary-a2: color(display-p3 0.4784 0.9765 0.5961 / 0.031);
      --primary-a3: color(display-p3 0.702 0.9961 0.6902 / 0.078);
      --primary-a4: color(display-p3 0.7255 0.9961 0.7098 / 0.113);
      --primary-a5: color(display-p3 0.7765 0.9961 0.6863 / 0.151);
      --primary-a6: color(display-p3 0.7882 1 0.7137 / 0.194);
      --primary-a7: color(display-p3 0.8078 1 0.7412 / 0.259);
      --primary-a8: color(display-p3 0.8431 1 0.7647 / 0.354);
      --primary-a9: color(display-p3 0.8 1 0.6784 / 0.492);
      --primary-a10: color(display-p3 0.7843 1 0.6471 / 0.436);
      --primary-a11: color(display-p3 0.8824 0.9961 0.8078 / 0.759);
      --primary-a12: color(display-p3 0.949 1 0.9176 / 0.949);

      --primary-surface: color(display-p3 0.1176 0.1412 0.1176 / 0.5);
      --primary-indicator: oklch(59.7% 0.0773 135.3);
      --primary-track: oklch(59.7% 0.0773 135.3);

      --gray-1: oklch(20.7% 0 none);
      --gray-2: oklch(23.6% 0 none);
      --gray-3: oklch(27.1% 0 none);
      --gray-4: oklch(29.6% 0 none);
      --gray-5: oklch(32.1% 0 none);
      --gray-6: oklch(35.4% 0 none);
      --gray-7: oklch(40.4% 0 none);
      --gray-8: oklch(49.1% 0 none);
      --gray-9: oklch(54% 0 none);
      --gray-10: oklch(58.6% 0 none);
      --gray-11: oklch(77% 0 none);
      --gray-12: oklch(94.9% 0 none);

      --gray-a1: color(display-p3 0 0.0902 0.8706 / 0.005);
      --gray-a2: color(display-p3 0.6588 0.8745 0.9843 / 0.035);
      --gray-a3: color(display-p3 0.851 0.9529 1 / 0.073);
      --gray-a4: color(display-p3 0.8902 0.9647 1 / 0.099);
      --gray-a5: color(display-p3 0.9137 0.9686 0.9961 / 0.125);
      --gray-a6: color(display-p3 0.9373 0.9804 0.9961 / 0.159);
      --gray-a7: color(display-p3 0.9569 0.9882 1 / 0.219);
      --gray-a8: color(display-p3 0.9765 0.9922 1 / 0.322);
      --gray-a9: color(display-p3 0.9765 0.9961 1 / 0.378);
      --gray-a10: color(display-p3 0.9882 0.9961 1 / 0.438);
      --gray-a11: color(display-p3 0.9961 1 1 / 0.679);
      --gray-a12: color(display-p3 0.9961 0.9961 0.9961 / 0.928);

      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0 none);
      --gray-track: oklch(54% 0 none);
    }
  }
}
